.header {
    list-style-type: none;
    background-color: rgb(224, 61, 94);
    border-style: solid;
    border-radius: 4px;
    border-color: rgb(202, 50, 81);
    height: 50px;
    display: flex;
  }
  
  .header:hover {
    background-color: crimson;
  }
  
  .cart {
    height: 30px;
    margin: 5px;
  }
  
  .logo {
    height: 30px;
    margin: 5px;
  }
  
  .header div {
    flex: 1;
    border-style: solid;
    border-radius: 5px;
    border-color:transparent;
  }
  
  .header a {
    margin: 0px;
    display: block;
    color: rgb(77, 62, 62);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
  }
  
  .header div:hover {
    background-color: rgb(238, 85, 85);
    border-color: rgb(255, 118, 118);
  }
  
  .header div:hover a{
    color: rgb(255, 255, 255);
  }